.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container h1 {
  font-size: 24px; 
  color: #57ff6b;
}

.container h3 {
  font-size: 18px; 
  color: #666;
}

.container button {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  font-size: 16px; 
  margin-top: 20px; 
}