*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

button {
  width: 120px;                  /* slightly wider */
  padding: 5px 0;
  font-size: 1.1rem;
  color: #fff;
  background-color: #e53333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background-color: #c42424;
}
